.box{
    width: 400px;
    height: 200px;
    border: 1px solid;
    border-color: black;
    margin-top: 250px;
    background-color: rgb(236, 234, 231);
   
}
#pass{
    width: 200px;

}
.week{
    
    width: 60px;
    height: 5px;
    border: 1px solid;
    margin-top: 20px;
    border-radius: 5px;
    background-color: red;
}
.medium{
    width: 60px;
    height: 5px;
    border: 1px solid;
    margin-top: 20px;
    border-radius: 5px;
    background-color:yellow;
}
.strong{
    width: 60px;
    height: 5px;
    border: 1px solid;
    margin-top: 20px;
    border-radius: 5px;
    background-color:green;
}
.indicator{
    display: flex;
    gap: 10px;
    margin-left: 95px;
}